@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300..0,900;1,300..1,900&family=Inter:wght@300;400;505;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, monospace;
}

body {
  font-family: var(--font-sans);
  background-color: #FFFFFF;
  color: #1A1A1A;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background: #E4002B;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B30022;
}

/* Hide scrollbar utility for chrome, safari, and opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar utility for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
